<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mayintarlasi"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.example.mayintarlasi.AnaMenu"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mayintarlasi.OyunMenu"
            android:label="@string/title_activity_oyun_menu" >
            <intent-filter>
                <action android:name="com.example.mayintarlasi.OyunMenu" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mayintarlasi.Secenekler"
            android:label="@string/title_activity_secenekler" >
            <intent-filter>
                <action android:name="com.example.mayintarlasi.Secenekler" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mayintarlasi.Gorunum"
            android:label="@string/title_activity_gorunum" >
            <intent-filter>
                <action android:name="com.example.mayintarlasi.Gorunum" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mayintarlasi.YeniOyun"
            android:label="@string/title_activity_yeni_oyun" >
            <intent-filter>
                <action android:name="android.intent.action.YeniOyun" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mayintarlasi.Devamkaydet"
            android:label="@string/title_activity_devamkaydet" >
            <intent-filter>
                <action android:name="com.example.mayintarlasi.Devamkaydet" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mayintarlasi.Yardim"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_yardim" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mayintarlasi.Istatistikler"
            android:label="@string/title_activity_istatistikler" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mayintarlasi.OyunOlustur"
            android:label="@string/title_activity_oyun_olustur" >
            <intent-filter>
                <action android:name="android.intent.action.OyunOlustur" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mayintarlasi.KayitListele"
            android:label="@string/title_activity_kayit_listele" >
            <intent-filter>
                <action android:name="android.intent.action.KayitListele" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.mayintarlasi.KayitliOyna"
            android:label="@string/title_activity_kayitli_oyna" >
            <intent-filter>
                <action android:name="android.intent.action.KayitliOyna" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>