<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bilisel.mayintarlasi"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_mayin_simge"
        android:label="@string/app_name"
        android:theme="@style/MayinTarlasiTheme" >
        <activity
            android:name="com.bilisel.mayintarlasi.control.AnaMenu"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bilisel.mayintarlasi.control.Secenekler"
            android:label="@string/title_activity_secenekler"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.Secenekler" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bilisel.mayintarlasi.control.Gorunumler"
            android:label="@string/title_activity_gorunum">
            <intent-filter>
                <action android:name="android.intent.action.Gorunumler" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bilisel.mayintarlasi.control.YeniOyun"
            android:label="@string/title_activity_yeni_oyun"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.YeniOyun" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bilisel.mayintarlasi.control.Yardim"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_yardim">
            <intent-filter>
                <action android:name="android.intent.action.Yardim" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bilisel.mayintarlasi.control.Istatistikler"
            android:label="@string/title_activity_istatistikler">
            <intent-filter>
                <action android:name="android.intent.action.Istatistikler" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>